main {
    background-color: #000000;
}

/* INICIO ESTILOS NAVBAR */

.navbar-brand {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.nav-link{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* FIN ESTILOS NAVBAR */

/* INICIO ESTILOS SECCION ¿QUIENES SOMOS? */
#nosotros .card{
    border: none;
}

hr {
    color: #FFFFFF;
}

#nosotros .list-group-item{
    background-color: #000000;
    border: none;
}

#nosotros .titulo {
    color: #FFFFFF;
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

#nosotros .icon{
    background-color: #189b9b;
    color: #FFFFFF;
}

#nosotros p{
    color: #FFFFFF;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@media (max-width: 768px) {
    #nosotros {
        display: none;
    }
}

/* FIN ESTILOS SECCION ¿QUIENES SOMOS? */

/* INICIO ESTILOS SECCION DESTACADOS */

#destacados .titulo{
    color: #FFFFFF;
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

#destacados .card-body{
    background-color: #189b9b;
}

#destacados .card-title{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
}

#destacados .card-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
}

/* FIN ESTILOS SECCION DESTACADOS */